*{
   margin: 0;
   padding: 0;
}
body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
   background-color: #eee;
   color: #555;
   padding: 15px 30px;
   border-radius: 4px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
   border: 1px solid #999;
   margin: 0 5px;
}
.hidden , .shown{
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   gap: 15px;
   text-align: center;

   p{
      border: 1px solid #999;
      background: #eee;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      padding: 20px 10px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      min-width: 150px;

   }
   small{
      font-size: 16px;
      font-weight: bold;
      color : #555 ;
   }
}
.hidden{
   display : none ;
}

/*  --------------media ------------------------ */

@media(max-width:700px){
   h3{
      font-size: 16px;
      padding: 10px;
   }
   .hidden , .shown{
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      gap: 20px ;
   
      :nth-child(4){
         grid-column: 2/3;
         grid-row: 1/2;
      }

      :nth-child(5){
         grid-column: 2/3;
         grid-row: 2/3;
      }
   }
   .hidden{
      display : none ;
   }
}
